{
  "token": "",
  "join_message": "I has joined to do stuff 🌟",
  "owners": [
    351860913621696524
  ],
  "prefix": [
    "!"
  ],
  "activity": "games!",
  "activity_type": "playing|watching|listening|competing",
  "status_type": "online|idle|dnd"
}
